networks:
  api-network:
    name: api-network
    driver: bridge
    external: true

services:
  postgres:
    image: postgres:15
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - api-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: .
    ports:
      - "3001:3001"
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - api-network
    volumes:
      - .:/app
      - /app/node_modules
    entrypoint: [ "/bin/bash", "./entrypoint.sh", "development" ]

volumes:
  postgres_data: